
@font-face{
  font-family: 'Roboto', sans-serif;
  src: url(fonts/Roboto-Regular.ttf);
}

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.navbar{
  margin-bottom: 0px;
  border-radius: 0%;
}

body{
  position: relative; 
}

#section1{
  padding:40px 0 0 0;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;

}

#section2{
  background:  #E4EEF2;
  padding-top:40px;
  margin-top: 30px;
  padding-bottom: 80px;
 
}

#section3 {
  background: linear-gradient(160deg,#578e9c,#92b5cc);
font-size: 26px;
padding-top: 150px;
height: 640px;
}



/*links efectos del mouse*/
.navbar-nav > li > a {
  margin-right: 7px;
  font-size: 1.0em;
  
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link.focus {
  border-radius: 4px;
  background: rgb(174, 200, 211);
}



.navbar-dark .navbar-nav .nav-link.active{
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: rgb(182, 177, 177);
}



.bg-dark {
  background-color: rgb(35, 116, 141) !important;
}
  

/* ---------------------------------pricing---------------------------*/

.pricing .card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
 
}
.pricing .card:hover .btn {
  opacity: 7;
}
  
.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(84, 124, 139, 0.1);
  }

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 0.8rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 0.5rem;
  opacity: 0.7;
  transition: all 0.2s;
margin-left: 38px;
margin-right: 4px;
}

 
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  }
  
  @keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -3000px, 0);
  transform: translate3d(0, -3000px, 0);
  }
  
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, 25px, 0);
  transform: translate3d(0, 25px, 0);
  }
  
  75% {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  }
  
  90% {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  }
  
  100% {
  -webkit-transform: none;
  transform: none;
  }
  } 


  .tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes tada {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 




  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 

    

   
.fas.fa-square {
-moz-animation-duration: 3s ;
-webkit-animation-duration: 3s;
-webkit-transform-origin: top center;
transform-origin: top center;
-webkit-animation-name: tada;
 animation-name:tada;
}

#prueba {
  -moz-animation-duration: 2s ;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: bounceInLeft;
   animation-name: bounceInLeft;
   margin: 20px auto;
   color: #fff;
  }
#prueba2{
  -moz-animation-duration: 4s ;
  -webkit-animation-duration: 4s;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: bounceInLeft;
   animation-name: bounceInLeft;
   margin: 20px auto;
   color: #fff;
 
}

 #prueba3{
  -moz-animation-duration: 3s ;
  -webkit-animation-duration: 3s;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: bounceInDown;
   animation-name: bounceInDown;

 }


ul.social-buttons li a {
 display: block;
width: 40px;
height: 40px;
border-radius: 100%;
font-size: 13px;
line-height: 40px;
outline: 0;
color: #fff;
background-color: #f71414;
text-emphasis: center;
transition: all .3s;
padding-top: 5px;
}


ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: rgb(90, 118, 156);
}


body, html, .container-fluid {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  max-height: 100%;
 
}

main {
  max-height: 100%;
  overflow-y: auto;
  background: #2487c0;
}


